h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    margin-bottom: 20px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}
.logo-unac img{
    padding-top: 0px;
    width: 200px;
}
img{
    width: 10%;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

